@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Política de Privacidade</h1>

<p><strong>Última atualização:</strong> 09/11/2023</p>

<p>A sua privacidade é importante para nós. Esta Política de Privacidade explica como as informações sobre você são coletadas, usadas e compartilhadas quando você usa nosso sistema.</p>

<h2>Informações que Coletamos</h2>

<p>Ao usar a Aplicação, podemos coletar as seguintes informações:</p>

<ul>
    <li><strong>Informações fornecidas por você:</strong> Ao cadastrar um álbum ou artista, podemos coletar informações como nome, título do álbum, data de lançamento e outras informações relacionadas.</li>
    <li><strong>Informações sobre uso:</strong> Podemos coletar informações sobre como você interage com a aplicação, como as páginas ou funcionalidades que você acessa e utiliza.</li>
</ul>

<h2>Como Utilizamos Suas Informações</h2>

<p>Utilizamos as informações coletadas para:</p>

<ul>
    <li>Fornecer e manter a Aplicação;</li>
    <li>Registrar e gerenciar os cadastros de álbuns, tracks e artistas;</li>
    <li>Entender e analisar como você utiliza a Aplicação;</li>
    <li>Melhorar nossos serviços e desenvolver novos recursos.</li>
</ul>

<h2>Compartilhamento de Informações</h2>

<p>Não compartilhamos suas informações pessoais, exceto conforme necessário para operar a Aplicação e conforme descrito nesta Política de Privacidade.</p>

<h2>Cookies</h2>

<p>Utilizamos cookies e tecnologias semelhantes para melhorar a experiência do usuário e analisar o tráfego. Ao utilizar a Aplicação, você concorda com o uso de cookies.</p>

<h2>Seus Direitos</h2>

<p>Você tem o direito de acessar, corrigir, atualizar ou excluir suas informações pessoais a qualquer momento. Se desejar exercer esses direitos, entre em contato conosco através do email po@ucl.com.br.</p>

<h2>Alterações nesta Política de Privacidade</h2>

<p>Podemos atualizar esta política periodicamente. Recomendamos que reveja periodicamente para estar ciente de quaisquer alterações.</p>


<h2>Contato</h2>

<p style="margin-bottom:70px">Para qualquer dúvida sobre esta Política de Privacidade, entre em contato conosco  através do email pa@ucl.com.br.</p>
